.creator-card {
  border-radius: 15px;
  align-items: center;
}
.creator-card > .card-body {
  height: 70px;
  width: 100%;
  border-radius: 15px;
}
.creator-card > img {
  height: 25vh;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.creator-card > .card-body > .card-title {
  font-size: 16px !important;
  font-weight: 500;
}
.creator-card > .card-body > .card-text {
  font-size: 16px !important;
  font-weight: 400;
}
