.main-footer {
  background-color: #ffffff !important;
  color: var(--primary-color) !important;
  border-radius: 15px;
  padding: 35px 0px 0px 0px;
}
.footer-container {
  padding: 0px 0px 60px 0px;
}

.social-links li a {
  font-size: 45px;
  display: inline-block;
  width: 50px;
  color: var(--secondary-color);
}
.contact-list,
.contact-list a {
  text-align: justify;
  margin: 20px;
  color: var(--secondary-color);
  text-decoration: none;
}
.list-item {
  margin: 10px;
}
.footer-carousel {
  width: 200px;
  margin: auto;
}
.footer-carousel .carousel-inner {
  position: absolute;
  top: -40px;
}
.footer-carousel .carousel-control-next,
.footer-carousel .carousel-control-prev {
  position: absolute;
  top: 100px;
  width: 40px;
  height: 40px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  margin: 0px 0px 0px 0px;
}

.copyright .active {
  color: var(--secondary-color);
  text-decoration: none;
}
